<div class="backdrop" data-modal>
  <div class="modal-container email-container cartmodal-container" data-modal>
    <svg
      class="modal-product-close-icon"
      width="22"
      height="22"
      data-modal-close
    >
      <use href="../img/sptite.svg#modal-window-close"></use>
    </svg>
    <div class="modal-success-icon-wrapper">
      <svg class="order-success" width="120" height="120">
        <use href="../img/sptite.svg#order-success"></use>
      </svg>
    </div>

    <div class="cartmodal-wrapper-title">
      <p class="modal-subscr-title cartmodal-title">Order success</p>
    </div>
    <div class="modal-wrapper-text cartmodal-wrapper-text">
      <p class="modal-subcr-text modal-success-text">
        Thank you for shopping at Food Boutique. Your order has been received
        and is now being freshly prepared just for you! Get ready to indulge in
        nourishing goodness, delivered right to your doorstep. We're thrilled to
        be part of your journey to better health and happiness.
      </p>
    </div>
  </div>
</div>
