<div class="container">
    <form class="filters-form">
        <label class="filters-form-label">Filters:</label>
        <input 
            value=""
            class="filters-form-input"
            type="text"
            placeholder="Search for anything">
        <button class="filters-form-btn" type="submit"> 
            <svg class="filters-form-btn-icon" width="20px" height="20px"> 
                <use href="../img/sptite.svg#icon-search"></use> 
            </svg> 
        </button>
        <select class="filters-form-select-category" id="category">
            <option value="" selected hidden>Categories</option>
        </select>
        <!-- <select class="filters-form-select-sortby">
            <option value="" disabled selected hidden>A to Z</option>
        </select> -->
    </form>
</div>
<script src="./js/filters.js" type="module"></script>