<div class="container">
    <form class="filters-form">
        <label class="filters-form-label">Filters:</label>
        <input 
            value=""
            class="filters-form-input"
            type="text"
            placeholder="Search for anything">
        <button class="filters-form-btn" type="submit"> 
            <svg class="filters-form-btn-icon" width="20px" height="20px"> 
                <use href="./img/sptite.svg#icon-search"></use> 
            </svg> 
        </button>
        <select class="filters-form-select-category" id="category">
            <option data-placeholder="true">Categories</option>
        </select>
        <!-- <select class="filters-form-select-sortby" id="sort">
            <option data-placeholder="true">A to Z</option>
            <option value="alphabetical">A to Z</option>
            <option value="reverse-alphabetical">Z to A</option>
            <option value="cheap">Cheap</option>
            <option value="expensive">Expensive</option>
            <option value="popular">Popular</option>
            <option value="not-popular">Not popular</option>
            <option value="">Show all</option>
        </select> -->
    </form>
</div>
<script src="./js/filters.js" type="module"></script>