<section class="hero-section">
  <div class="container">
    <h1 class="hero-title">
      Welcome to the<span class="hero-span"> Food </span>Boutique!
    </h1>
    <p class="hero-text">
      With Food Boutique, you're not just subscribing to food, you're signing up
      for a fresher, fitter, and happier you.
    </p>
    <div class="bg">
      <svg class="bg-svg" width="100" height="100">
        <use href="./img/sptite.svg#icon-organic-food"></use>
      </svg>      
    </div>
  </div>
</section>
