<div class="modal-container">
  <button class="modal-product-close-btn">
    <svg class="modal-product-close-icon" width="22" height="22">
      <use href="../img/sptite.svg#modal-window-close"></use>
    </svg>
  </button>
  <img
    class="madal-product-img"
    src="../img/yellow shopping basket@1x.png"
    alt=""
  />
  <p class="modal-product modal-product-name">Pumpkin</p>
  <div class="modal-container-descs">
    <p class="modal-product modal-product-desc">
      Category:
      <span class="modal-product-desc modal-product-desc-value"
        >Fresh Produce</span
      >
    </p>

    <p class="modal-product modal-product-desc">
      Size:
      <span class="modal-product-desc modal-product-desc-value"
        >1 medium-sized</span
      >
    </p>
    <p class="modal-product modal-product-desc">
      Popularity:
      <span class="modal-product-desc modal-product-desc-value">0</span>
    </p>
  </div>

  <p class="modal-product-description">
    A round, orange vegetable with a thick shell and seeds inside. It is often
    used in cooking and baking for its sweet and earthy flavor.
  </p>
  <p class="modal-product-cost">$2.99</p>
  <button>
    <p>Add to</p>
    <svg class="modal-product-addtocart" width="22" height="22">
      <use href="../img/sptite.svg#icon-cartx"></use>
    </svg>
  </button>
</div>
