<!-- <div id="pagination" class="tui-pagination"></div> -->
<ul class="pagination-list">
  <li id="first" class="paination-items">
    <button class="pagination-btn first-btn">
      <svg width="24" height="24">
        <use href="../img/sptite.svg#icon-two-arrow-left"></use>
      </svg>
    </button>
  </li>
  <li id="prev" class="paination-items">
    <button class="pagination-btn prev-btn">
      <svg width="24" height="24">
        <use href="../img/sptite.svg#icon-arrow-left"></use>
      </svg>
    </button>
  </li>
  <li id="" class="paination-items">
    <button class="pagination-btn current-btn">1</button>
  </li>
  <li id="" class="paination-items">
    <button class="pagination-btn">2</button>
  </li>
  <li id="" class="paination-items visibility">
    <button class="pagination-btn">3</button>
  </li>
  <li id="" class="paination-items visibility">
    <button class="pagination-btn">4</button>
  </li>
  <li id="increment" class="paination-items">
    <button class="pagination-btn">...</button>
  </li>
  <li id="next" class="paination-items">
    <button class="pagination-btn next-btn">
      <svg width="24" height="24">
        <use href="../img/sptite.svg#icon-arrow-right"></use>
      </svg>
    </button>
  </li>
  <li id="last" class="paination-items">
    <button class="pagination-btn last-btn">
      <svg width="24" height="24">
        <use href="../img/sptite.svg#icon-two-arrow-right"></use>
      </svg>
    </button>
  </li>
</ul>
<script type="module" src="../js/pagination.js"></script>
