<h2 class="popular__products-title">Popular products</h2>
<ul class="wrapperPopularProduct"></ul>
<!-- <ul>
  <li class="popular__products-items">
    <div class="img-box">
      <img
        class="popular__products-img"
        src="https://ftp.goit.study/img/so-yummy/ingredients/640c2dd963a319ea671e383b.png"
        alt="a"
      />
    </div>
    <div class="info-box">
      <h3 class="popular__products-name">NAME</h3>
      <p class="popular__products-text">
        Category:
        <span class="js-popular__products-category">CATEGORY</span>
      </p>
      <div class="add-ifo-box">
        <p class="popular__products-text">
          Size: <span class="js-popular__products-size">SIZE</span>
        </p>
        <p class="popular__products-text">
          Popularity:
          <span class="js-popular__products-popularity">POPULARITY</span>
        </p>
      </div>
    </div>
    <button class="popular__products-button">
      <svg class="popular__products-svg" width="12" height="12">
        <use href="../img/sptite.svg#icon-cart"></use>
      </svg>
    </button>
  </li>
</ul> -->
