<!-- <div class="productlist-card">
    <div class="productlist-card-img-wrapper">
        <img src="" alt="" class="productlist-card-img">
    </div>
    <p class="productlist-card-header"></p>
    <p class="productlist-card-text">
        <span class="productlist-card-text-headers"></span>
        <span class="productlist-card-text-headers"></span>
        <span class="productlist-card-text-headers"></span>
    </p>
    <div class="productlist-card-bottom">
        <span class="productlist-card-price"></span>
        <button type="button"><svg class="productlist-card-icon-cart" width="18" height="18">
                <use href="../img/sptite.svg#icon-cart"></use>
            </svg></button>
    </div>
</div> -->
<div class="products-list"></div>
<script src="../js/products-list.js" type="module"></script>
