.order-success {
  fill: var(--c_color);
  text-align: center;
}

.cartmodal-container {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 60px;
  padding-top: 40px;
}
.cartmodal-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;

  text-transform: uppercase;

  width: auto;
}
.cartmodal-wrapper-title {
  margin-bottom: 20px;
}
.modal-success-icon-wrapper {
  display: flex;
  justify-content: center;
}
.modal-success-text {
  min-width: 295px;
}
@media only screen and (min-width: 767.98px) {
  .cartmodal-title {
    font-size: 32px;
  }
  .modal-success-text {
    font-size: 18px;
  }
  .cartmodal-container {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .cartmodal-wrapper-text {
    min-width: 480px;
  }
}
@media only screen and (min-width: 1440px) {
  .cartmodal-wrapper-text {
    line-height: 1.33;
  }
  .order-success {
    width: 135px;
    height: 135px;
  }
}
.backdrop-cart {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 1, 1, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
