.title-discount-prod {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  color: var(--p_color-text);
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .title-discount-prod {
    font-size: 28px;
    line-height: 1.14;
  }
}

/* слайдер//////////////////////////////////////////// */

.slider {
  max-width: 335px;
  max-height: 484px;
  overflow: hidden;
  animation-direction: alternate;
}

@media only screen and (min-width: 768px) {
  .slider {
    min-width: 704px;

    max-height: 232px;
  }
}

@media only screen and (min-width: 1440px) {
  .slider {
    min-width: 275px;
    max-width: 275px;
    max-height: 484px;
    /* transition-duration: 2s;
    animation-direction: alternate; */
    /* border: 2px solid #161515; */
  }
}

.slider-col {
  /* height: 5040px; */
  position: relative;

  transition-duration: 2s;
  /* animation-direction: alternate; */
}

@media only screen and (min-width: 768px) {
  .card-discount-prod {
    display: flex;
    flex-wrap: wrap;
    /* width: calc((100% - 30px) / 2); */
    justify-content: space-around;
    column-gap: 32px;
    row-gap: 20px;
    /* padding-bottom: 100px; */
  }
}

@media only screen and (min-width: 1440px) {
  .card-discount-prod {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 21px;
  }
}

.discount-prod-item {
  max-width: 330px;
  max-height: 232px;
  flex-shrink: 0;
  border-radius: 15px;
  background: var(--current-white);
  margin-bottom: 20px;
  padding: 16px;
  box-sizing: border-box;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .discount-prod-item {
    margin-bottom: 0px;
  }
}

@media only screen and (min-width: 1440px) {
  .discount-prod-item {
    max-width: 275px;
  }
}

.wrap-img-discount-prod {
  max-width: 304px;
  max-height: 150px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--background);
}

@media only screen and (min-width: 1440px) {
  .wrap-img-discount-prod {
    max-width: 243px;
  }
}

.discount-img {
  width: 114px;
  height: 114px;
  flex-shrink: 0;
  padding: 18px 95px;
}

@media only screen and (min-width: 1440px) {
  .discount-img {
    width: 105px;
    height: 105px;
    padding: 22px 69px;
  }
}

.info-discount-prod {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
}

.text-discount-prod {
  color: var(--p_color-text);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media only screen and (min-width: 768px) {
  .text-discount-prod {
    font-size: 20px;
    line-height: 1.2;
  }
}

.price-discount-prod {
  display: flex;
  align-items: center;
  gap: 8px;
}

.btn-icon-cart {
  display: inline-flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background-color: var(--p_color);
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-icon-cart:hover,
.btn-icon-cart:focus {
  background-color: var(--c_color);
}

.icon-cart-svg {
  fill: var(--background);
}

.hidden {
  display: none;
}

.discount-svg {
  position: absolute;
  top: 3px;
  right: 10px;
  overflow: visible;
}

@media only screen and (min-width: 1440px) {
  .discount-svg {
    top: -3px;
  }
}
