.filters-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
    margin-bottom: 40px;
}
.filters-form-label {
    display: flex;
    position: absolute;
    top: -25px;
    font-size: 14px;
    line-height: calc(18/14);
    letter-spacing: 0em;
    text-align: left;
    color: var(--p_color-text-alfa30);
}
.filters-form-input {
    box-sizing: border-box;
    height: 48px;
    padding: 14px 20px;
    border-radius: 30px;
    border: 1px solid var(--p_color-text-alfa30);
    font-family: inherit;
    font-size: 14px;
    line-height: calc(18/14);
    letter-spacing: 0em;
    text-align: left;
    color: inherit;
    background-color: inherit;
}
.filters-form-input:focus,
.filters-form-input:hover {
    border-color: var(--p_color);
    outline: 0;
}
.filters-form-input::placeholder {
    color: inherit;
    opacity: 1; /* Firefox */
}
.filters-form-input::-ms-input-placeholder {
    color: inherit; /* Edge 12 -18 */
}
.filters-form-btn {
    padding: 0;
    border-width: 0;
    position: absolute;
    top: 14px;
    right: 22px;
    visibility: hidden;
}
.filters-form-btn-icon {
    display: block;
    visibility: visible;
}
.filters-form-select-category,
.ss-main.filters-form-select-category {
    height: 48px;
    width: 100%;
    padding: 13px 18px;
    border-radius: 30px;
    border: 1px solid var(--p_color-text-alfa30);
    font-family: inherit;
    font-size: 14px;
    line-height: calc(18/14);
    letter-spacing: 0em;
    text-align: left;
    color: inherit;
    background-color: inherit;
}
.ss-main.filters-form-select-category.ss-open-above, 
.ss-main.filters-form-select-category.ss-open-below {
    border-radius: 30px;
}
.ss-main.filters-form-select-category:focus,
.ss-main.filters-form-select-category:hover {
    box-shadow: none;
}
.ss-main.filters-form-select-category .ss-values .ss-placeholder {
    color: var(--p_color-text);
}
.ss-content.filters-form-select-category {
    padding-left: 18px;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
}
.ss-content.filters-form-select-category.ss-open-above,
.ss-content.filters-form-select-category.ss-open-below {
    border-radius: 15px;
}
.ss-content.filters-form-select-category .ss-list .ss-option.ss-highlighted,
.ss-content.filters-form-select-category .ss-list .ss-option:not(.ss-disabled).ss-selected {
    color: var(--p_color-text);
    background-color: inherit;
}
.ss-content.filters-form-select-category .ss-list .ss-option {
    font-size: 14px;
    line-height: calc(18/14);
    color: rgba(1, 1, 1, 0.50);
}
.ss-content.filters-form-select-category .ss-list .ss-option:focus, 
.ss-content.filters-form-select-category .ss-list .ss-option:hover {
    color: var(--p_color-text);
    background-color: inherit;
}
.ss-main.filters-form-select-category:focus,
.ss-main.filters-form-select-category:hover {
    border: 1px solid var(--p_color);
}
@media screen and (min-width: 768px) {
    .filters-form {
        flex-direction: row;
        gap: 8px;
        height: 52px;
    }
    .filters-form-input {
        height: 52px;
        width: 269px;
        font-size: 18px;
        line-height: calc(24/18);
    }
    .filters-form-btn {
        padding: 0;
        border-width: 0;
        position: absolute;
        top: 16px;
        left: 226px;
    }
    .filters-form-select-category,
    .ss-main.filters-form-select-category {
        height: 52px;
        max-width: 189px;
        font-size: 18px;
        line-height: calc(24/18);
    }
    .ss-content.filters-form-select-category .ss-list .ss-option {
        font-size: 18px;
        line-height: calc(24/18);
    }
}