header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  transition: transform 0.8s ease;
  background-color: rgba(235, 236, 240, 0.434);
  transition: all 0.3s ease;
}
header.hide {
  transition: transform 0.8s ease;
  transform: translateY(-150%);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding-top: 18px;
  padding-bottom: 18px;
}
@media only screen and (min-width: 768px) {
  .header-container {
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

/* --------- */
.header-container-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-logo-icon {
  fill: var(--background);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--p_color);
  padding: 6px;
}
@media only screen and (min-width: 768px) {
  .header-logo-icon {
    width: 20px;
    height: 20px;
  }
}
/* ---------- */

.header-logo-text {
  text-align: center;
  margin-left: 8px;
  white-space: nowrap;

  font-family: 'Fontspring-DEMO-quincycf', sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 1.11; /* 111.111% */
  letter-spacing: -0.02em;
}
@media only screen and (min-width: 768px) {
  .header-logo-text {
    font-size: 24px;
  }
}
.header-container-home {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .header-home-button {
    width: 48px;
    height: 24px;
    border-radius: 30px;
    background: var(--p_color);
    padding: 12px 28px;
  }
}

/* --------------- */
.header-container-home {
  gap: 6px;
}
@media only screen and (min-width: 768px) {
  .header-container-home {
    gap: 16px;
  }
}
@media only screen and (min-width: 1440px) {
  .header-container-home {
    gap: 24px;
  }
}
/* ------------- */
.link-container {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--p_color);
  color: var(--background);
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  line-height: 1.28; /* 128.571% */
  transition: var(--animation);
}
.link-container:hover,
.link-container:active {
  background-color: var(--c_color);
}

@media only screen and (min-width: 768px) {
  .link-container {
    padding: 12px 28px;

    font-size: 18px;
    line-height: 1.33; /* 133.333% */
  }
}

/* -------- */
.header-home {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-home-icon {
  fill: var(--background);
  width: 14px;
  height: 14px;
  border-radius: 30px;
  background-color: var(--p_color);
  padding: 12px;

  transition: var(--animation);
}
.header-home-icon:hover,
.header-home-icon:active {
  background-color: var(--c_color);
}

@media only screen and (min-width: 768px) {
  .header-home-icon {
    width: 18px;
    height: 18px;
    padding: 10px;
  }
}

/* ----------- */
.header-cart {
  display: none;
}
@media only screen and (min-width: 768px) {
  .header-cart {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.33;
    text-transform: uppercase;
    margin-left: 14px;
    display: block;
  }
}
