.hero-section {
  margin-top: 64px;
  margin-bottom: 74px;
}
@media only screen and (min-width: 768px) {
  .hero-section {
    margin-top: 92px;
  }
}
@media only screen and (min-width: 1440px) {
  .hero-section {
    margin-top: 54px;
    margin-bottom: 100px;
  }
}
.hero-title {
  max-width: 335px;
  margin: 0 auto;
  margin-bottom: 16px;

  color: var(--p_color-text);
  text-align: center;
  font-size: 44px;
  font-weight: 500;
  line-height: 1.09; /* 109.091% */
  letter-spacing: -0.02em;
}
@media only screen and (min-width: 768px) {
  .hero-title {
    max-width: 654px;
    margin-bottom: 20px;

    font-size: 80px;
    line-height: 1; /* 100% */
  }
}
@media only screen and (min-width: 1440px) {
  .hero-title {
    max-width: 1042px;
  }
}
.hero-span {
  color: var(--p_color);
}
.hero-text {
  max-width: 292px;
  margin: 0 auto;
  margin-bottom: 32px;

  color: var(--p_color-text-alfa80);
  text-align: center;
  font-size: 14px;
  line-height: 1.28; /* 128.571% */
}
@media only screen and (min-width: 768px) {
  .hero-text {
    max-width: 492px;
    margin-bottom: 40px;

    font-size: 18px;
    line-height: 1.33; /* 133.333% */
  }
}
@media only screen and (min-width: 1440px) {
  .hero-text {
  }
}
.bg {
  position: relative;

  max-width: 335px;
  height: 480px;
  margin: 0 auto;

  background-color: var(--p_color);
  background-image: url(../img/mobile-bg@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  border-radius: 20px;
}
@media only screen and (min-resolution: 192dpi) {
  .bg {
    background-image: url(../img/mobile-phone@2x.jpg);
  }
}

@media only screen and (min-width: 768px) {
  .bg {
    max-width: 704px;
    height: 580px;
    border-radius: 50px;
  }
  @media only screen and (min-resolution: 192dpi) {
    .bg {
      background-image: url(../img/mobile-bg@2x.jpg);
    }
  }
}
@media only screen and (min-width: 1440px) {
  .bg {
    max-width: 1240px;
    height: 350px;
    background-image: url(../img/bg@1x.jpg);
  }
  @media only screen and (min-resolution: 192dpi) {
    .bg {
      background-image: url(../img/bg@2x.jpg);
    }
  }
}
.bg-svg {
  position: absolute;
  top: -7px;
  right: 8px;
}
@media only screen and (min-width: 768px) {
  .bg-svg {
    top: -30px;
    right: 10px;
  }
}
@media only screen and (min-width: 1440px) {
  .bg-svg {
    top: -50px;
    right: 20px;
  }
}
