.modal-product-name {
  font-family: 'Neue Montreal';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;

  color: var(--p_color-text);
  margin-bottom: 10px;
  margin-top: 20px;
}
.modal-product-desc {
  font-family: 'Neue Montreal';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  color: var(--p_color-text-alfa30);

  display: flex;
  gap: 4px;
}

.modal-product-desc.modal-product-desc-value {
  font-family: 'Neue Montreal';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  color: var(--p_color-text);
}
.modal-container-descs {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
.modal-container {
  border-radius: 20px;
  background: var(--current-white);
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
}
.modal-product-description {
  margin-top: 9px;
}
