.modal-subscr-title {
  font-family: 'Neue Montreal';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  text-align: center;

  color: var(--p_color-text);
  width: 245px;
  margin-bottom: 14px;

  text-align: center;
}
.modal-subscr-title-accent {
  color: var(--p_color);
}
.modal-subcr-text {
  font-family: 'Neue Montreal';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;

  text-align: center;

  color: var(--p_color-text-alfa70);
}
.subscribing-container {
  padding-top: 100px;
  padding-left: 45px;
  padding-right: 45px;
  max-width: 335px;

  background-color: var(--background);
  padding-bottom: 166px;
}
.modal-subcr-img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: auto;
  height: 144px;
}
.modal-subcr-img-container {
  max-width: 335px;
}
.modal-wrapper-title {
  margin-bottom: 14px;
}
@media only screen and (min-width: 767.98px) {
  .subscribing-container {
    padding-top: 90px;
    padding-left: 81px;
    padding-right: 81px;
    padding-bottom: 162px;
    max-width: 490px;
  }
  .modal-subscr-title {
    font-size: 24px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .modal-subcr-text {
    font-size: 16px;
  }
  .modal-subcr-img {
    height: 159px;
  }
  .modal-wrapper-title {
    padding-left: 41.5px;
    padding-right: 41.5px;
    margin-bottom: 20px;
  }
  .modal-wrapper-text {
    max-width: 328px;
    height: 80px;
  }
}
