.pagination-list {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 80px;
  margin-top: 40px;
}
.paination-items {
}
.paination-items:not(:last-child) {
  margin-right: 4px;
}
.pagination-btn {
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 50%;
  border: none;
  color: var(--current-gray);
  background-color: var(--background);
  transition: var(--animation);
}
.pagination-btn:hover {
  color: var(--current-white);
  background-color: var(--p_color);
}
.current-btn {
  background-color: var(--p_color);
  color: var(--current-white);
}
.first-btn,
.prev-btn,
.next-btn,
.last-btn {
  fill: none;
  stroke: var(--current-gray);
  background-color: var(--current-white);
  transition: var(--animation);
}
.first-btn:hover,
.prev-btn:hover,
.next-btn:hover,
.last-btn:hover {
  stroke: var(--current-white);
  background-color: var(--p_color);
}
.next-btn {
  margin-left: 8px;
}
.prev-btn {
  margin-right: 8px;
}
.visibility {
  display: none;
}
@media only screen and (min-width: 768px) {
  .visibility {
    display: block;
  }
}
