/* CART INFO */
.cart-info{
    display: flex;
    align-items: center;
    gap: 14px;
    margin-bottom: 14px;
    padding-top: 54px;
}
.cart-icon {
    width: 38px;
    height: 38px;
    border-radius: 30px;
    background: #6d8434;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-svg-icon{
    fill: #e8e8e2;
    width: 18px;
    height: 18px;
}
.cart-info-title {
  color: #010101;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  text-transform: uppercase;
}
.cart-info-span {
  color: #010101;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  text-transform: uppercase;
}
/**
  |============================
  | EMPTY BASKET
  |============================
*/
.basket-empty-img{
    width: 132px;
    height: 114px;
    margin: auto;
    display: block;
    margin-top: 105px;
    margin-bottom: 28px;
}
.empty-basket-title {
  color: #010101;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  text-align: center;
  margin-bottom: 14px;
}
.empty-basket-span {
  color: #6d8434;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
}
.empty-basket-text {
  color: rgba(1, 1, 1, 0.7);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  max-width: 279px;
  margin: 0 auto;
  padding-bottom: 120px;
}

/**
  |============================
  | CART WITH PRODUCTS
  |============================
*/

.cart-with-items-container {
  overflow-y: auto;
  max-height: 480px;
}
.cart-delete-all {
  display: flex;
  gap: 8px;
  margin-top: 14px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: flex-end;
}
.cart-delete-all-text {
  color: #010101;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
}
.cart-delete-all-btn {
  background-color: transparent;
  border: none;
}

.cart-product-img-container{
  width: 100px;
  height: 100px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FAFAFA;
}
.cart-product-img {
  width: 64px;
  height: 64px;
}

/* Order */
.cart-form-order-input {
  padding-bottom: 80px;
}
.cart-order-container{
  margin-top: 80px;
}

.cart-order-title {
  color: #010101;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.cart-order-total {
  width: 100%;
  height: 60px;
  border-radius: 8px;
  background: rgba(109, 132, 52, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.cart-order-text-total {
  color: #010101;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  padding-top: 26px;
  padding-left: 18px;
  padding-bottom: 14px;
}

.cart-order-sum-container {
  display: flex;
  gap: 4px;
}

.cart-order-text-sum {
  color: rgba(1, 1, 1, 0.2);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  padding-top: 30px;
  padding-bottom: 16px;
}

.cart-order-sum {
  color: #010101;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  padding-top: 18px;
  padding-right: 18px;
  padding-bottom: 14px;
}

.cart-form-order-mail-input {
  width: 100%;
  height: 42px;
  background-color: transparent;
  border-radius: 30px;
  border: 1px solid rgba(1, 1, 1, 0.3);
  color: #010101;
  outline: transparent;
  margin-bottom: 14px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  font-size: 16px;
}

.cart-form-order-mail-input:is(:hover, :focus) {
  border: 1px solid #6d8434;
}

.cart-form-order-mail-input::placeholder {
  color: #010101;
  font-size: 14px;
  padding-left: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
}

.cart-form-order-mail-input:focus::placeholder {
  opacity: 0;
}

.cart-form-btn {
  color: #e8e8e2;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  width: 100%;
  height: 42px;
  border-radius: 30px;
  background: #6d8434;
  border: none;
  cursor: pointer;
  
}

.cart-form-btn:is(:hover, :focus) {
  background: 1px solid #586f1f;
}