.products-list {
  display: flex;
  gap: 20px;
  flex-direction: column;
  flex-shrink: 0;
  align-content: flex-start;
  justify-content: space-between;
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .products-list {
    gap: 32px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 1440px) {
  .products-list {
    row-gap: 40px;
    column-gap: 20px;
    width: 925px;
    height: 1169px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    margin-bottom: 40px;
  }
}

.productlist-card {
  padding: 20px;
  background-color: var(--current-white);
  border-radius: 20px;
  min-width: 200px;
  max-width: 295px;
  max-height: 316px;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .productlist-card {
    max-width: 296px;
    max-height: 320px;
    flex-basis: calc(((100% - 32px) / 2));
  }
}
@media only screen and (min-width: 1440px) {
  .productlist-card {
    max-width: 255px;
    max-height: 323px;
    flex-basis: calc(((100% - 40px) / 3));
  }
}

.productlist-card-img-wrapper {
  border-radius: 10px;
  background-color: var(--background);
  height: 178px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.productlist-card-img {
  flex-shrink: 0;
}
.productlist-card-header {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 10px;
}
@media only screen and (min-width: 768px) {
  .productlist-card-header {
    font-size: 20px;
    line-height: 1.2;
  }
}

.productlist-card-text-wrapper {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  height: 34px;
}

.productlist-card-text {
  color: var(--p_color-text-alfa30);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16; /* 116.667% */
}
.productlist-card-text-span {
  color: var(--p_color-text);
}
.productlist-card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 20px;
}

.productlist-card-price {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
}
@media only screen and (min-width: 768px) {
  .productlist-card-price {
    font-size: 20px;
    line-height: 1.2;
  }
}
.productlist-card-btn {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: var(--p_color);
  border: none;
  transition: background var(--animation);
}
.productlist-card-btn:disabled {
  cursor: default;
}
.productlist-card-btn:active:not([disabled]) {
  background: var(--c_color);
}

@media (hover: hover) {
  .productlist-card-btn:hover:not([disabled]),
  .productlist-card-btn:focus:not([disabled]) {
    background: var(--c_color);
  }
}
.productlist-card-icon-cart {
  fill: var(--background);
  stroke: none;
}
.productlist-card-icon-check {
  stroke: var(--background);
  fill: none;
}

.productlist-dicount {
  position: absolute;
  right: 10px;
  top: 3px;
}

@media only screen and (min-width: 768px) {
  .productlist-dicount {
    top: -3px;
  }
}

.hidden {
  display: none;
}

.products-list-none {
  text-align: center;
  margin: 60px auto 180px;
  max-width: 279px;
}
@media only screen and (min-width: 768px) {
  .products-list-none {
    margin: 110px auto 300px;
    max-width: 371px;
  }
}
@media only screen and (min-width: 1440px) {
  .products-list-none {
    margin: 160px auto 0;
  }
}

.products-list-none-header {
  margin: 0 auto 14px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  max-width: 261px;
}
@media only screen and (min-width: 768px) {
  .products-list-none-header {
    font-size: 20px;
    line-height: 1.2;
    max-width: 100%;
  }
}
.products-list-none-header-span {
  color: var(--p_color);
}
.products-list-none-text {
  color: var(--p_color-text-alfa70);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .products-list-none-text {
    font-size: 18px;
    line-height: 1.33;
  }
}
