/* CART INFO */
.cart-info{
    display: flex;
    align-items: center;
    gap: 14px;
    margin-bottom: 14px;
    padding-top: 72px;
}
.cart-icon {
    width: 38px;
    height: 38px;
    border-radius: 30px;
    background: #6d8434;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-svg-icon{
    fill: #e8e8e2;
    width: 18px;
    height: 18px;
}
.cart-info-title {
  color: #010101;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  text-transform: uppercase;
}
.cart-info-span {
  color: #010101;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  text-transform: uppercase;
}
/**
  |============================
  | EMPTY BASKET
  |============================
*/
.basket-empty-img{
    width: 132px;
    height: 114px;
    margin: auto;
    display: block;
    margin-top: 105px;
    margin-bottom: 28px;
}
.empty-basket-title {
  color: #010101;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  text-align: center;
  margin-bottom: 14px;
}
.empty-basket-span {
  color: #6d8434;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
}
.empty-basket-text {
  color: rgba(1, 1, 1, 0.7);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  max-width: 279px;
  margin: 0 auto;
  padding-bottom: 120px;
}

/**
  |============================
  | CART WITH PRODUCTS
  |============================
*/

.cart-with-items-list {
  overflow-y: auto;
  max-height: 480px;
  list-style: none;
  padding: 0;
}
/* .cart-with-items-list::-webkit-scrollbar{
  width: 5px;
  height: 115px;
}
.cart-with-items-list::-webkit-scrollbar-thumb{
  border-radius: 20px;
  background-color: rgba(1, 1, 1, 0.08);
} */
.cart-delete-all {
  display: flex;
  gap: 8px;
  margin-top: 14px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: flex-end;
}
.cart-delete-all-text {
  color: #010101;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
}
.cart-delete-all-btn {
  background-color: transparent;
  border: none;
}
.delete-all-icon-svg {
  fill: #010101;
  width: 24px;
  height: 24px;
}

.cart-product-img-container{
  width: 100px;
  height: 100px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FAFAFA;
}
.cart-product-img {
  width: 64px;
  height: 64px;
}

/* Order */
.cart-form-order-input {
  padding-bottom: 80px;
}
.cart-order-container{
  margin-top: 80px;
}

.cart-order-title {
  color: #010101;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.cart-order-total {
  width: 100%;
  height: 60px;
  border-radius: 8px;
  background: rgba(109, 132, 52, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.cart-order-text-total {
  color: #010101;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  padding-top: 26px;
  padding-left: 18px;
  padding-bottom: 14px;
}

.cart-order-sum-container {
  display: flex;
  gap: 4px;
}

.cart-order-text-sum {
  color: rgba(1, 1, 1, 0.2);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  padding-top: 30px;
  padding-bottom: 16px;
}

.cart-order-sum {
  color: #010101;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  padding-top: 18px;
  padding-right: 18px;
  padding-bottom: 14px;
}

.cart-form-order-mail-input {
  width: 100%;
  height: 42px;
  background-color: transparent;
  border-radius: 30px;
  border: 1px solid rgba(1, 1, 1, 0.3);
  color: #010101;
  outline: transparent;
  margin-bottom: 14px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  font-size: 16px;
}

.cart-form-order-mail-input:is(:hover, :focus) {
  border: 1px solid #6d8434;
}

.cart-form-order-mail-input::placeholder {
  color: #010101;
  font-size: 14px;
  padding-left: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
}

.cart-form-order-mail-input:focus::placeholder {
  opacity: 0;
}

.cart-form-btn {
  color: #e8e8e2;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  width: 100%;
  height: 42px;
  border-radius: 30px;
  background: #6d8434;
  border: none;
  cursor: pointer;
  
}

.cart-form-btn:is(:hover, :focus) {
  background: 1px solid #586f1f;
}

.cart-product-list {
  display: flex;

  gap: 20px;
  background-color: #E8E8E2;
  position: relative;
  padding: 30px 0;
}

.cart-product-list:after {
  content: '';
  width: 333px;
  border: 1px solid rgba(1, 1, 1, 0.1);
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}
.cart-product-list:last-child:after {
  display: none;
  border: none;
}
.cart-product-name {
  color: #010101;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  margin-bottom: 10px;
}
.cart-product-features {
  display: flex;
  gap: 8px;
  margin-bottom: 36px;
}
.cart-product-category{
  color: rgba(1, 1, 1, 0.30);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  display: flex;
  gap: 4px;
}
.cart-product-category-span {
  color: #010101;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
}
.cart-product-size {
  color: rgba(1, 1, 1, 0.30);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  display: flex;
  gap: 4px;
}
.cart-product-size-span {
  color: #010101;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50px;
  white-space: nowrap;
}
.cart-product-info-price {
  color: #010101;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
}
.cart-product-remove-btn {
  padding: 0;
  position: absolute;
  top: 30px;
  right: 14px;
  border: none;
  background-color: transparent;
  display: flex;
}

.cart-product-remove-svg {
  width: 18px;
  height: 18px;
}

/**
  |============================
  | TABLET
  |============================
*/

@media only screen and (min-width: 768px) {
  .cart-info{
    padding-top: 99px;
  }
  .cart-icon{
    width: 42px;
    height: 42px;
  }
  .cart-info-title{
    font-size: 32px;
    line-height: 1;
  }
  .cart-info-span{
    font-size: 32px;
    line-height: 1;
  }
/* Empty basket */
  .basket-empty-img{
    width: 164px;
    height: 140px;
    margin-top: 135px;
    margin-bottom: 40px;
  }
  .empty-basket-title{
    font-size: 20px;
    line-height: 1.2;
  }
  .empty-basket-span{
    font-size: 20px;
    line-height: 1.2;
  }
  .empty-basket-text{
    font-size: 18px;
    line-height: 1.33;
    max-width: 387px;
  }
  /* Cart with items */
  .cart-delete-all{
    margin-top: 26px;
  }
  .cart-delete-all-text{
    font-size: 16px;
    line-height: 1.25;
  }

  .cart-product-img-container{
    width: 120px;
    height: 120px;
  }
  .cart-product-img{
    width: 72px;
    height: 72px;
  }
  .cart-product-list{
    gap: 40px;
    padding: 40px 0;
  }
  .cart-product-list::after{
    width: 672px;
  }
  .cart-product-remove-btn{
    top: 40px;
    right: 39px;
  }
  .cart-product-remove-svg{
    height: 20px;
    width: 20px;
  }
  .cart-product-name{
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 12px;
  }
  .cart-product-features{
    gap: 16px;
    margin-bottom: 44px;
  }
  .cart-product-category-span{
    font-size: 14px;
    line-height: 1.28;
  }
  .cart-product-category{
    font-size: 14px;
    line-height: 1.28;
  }
  .cart-product-size-span{
    font-size: 14px;
    line-height: 1.28;
  }
  .cart-product-size{
    font-size: 14px;
    line-height: 1.28;
  }
  .cart-product-info-price{
    font-size: 20px;
    line-height: 1.2;
  }
  .cart-form-order-input{
    padding-bottom: 100px;
    display: flex;
    gap: 16px;
  }
  .cart-order-title{
    font-size: 32px;
    line-height: 1;
  }
  .cart-order-total{
    margin-bottom: 40px;
    width: 590px;
  }
  .cart-order-text-total{
    font-size: 20px;
    line-height: 1.2;
    padding-top: 22px;
    padding-left: 28px;
    padding-bottom: 14px;
  }
  .cart-order-sum-container{
    gap: 8px;
  }
  .cart-order-sum{
    font-size: 32px;
    line-height: 1;
    padding-top: 14px;
    padding-right: 28px;
  }
  .cart-form-order-mail-input{
    width: 359px;
    height: 54px;
    margin-bottom: 0;
  }
  .cart-form-order-mail-input::placeholder{
    font-size: 18px;
    line-height: 1.34;
  }
  .cart-form-btn{
    font-size: 20px;
    line-height: 1.2;
    width: 215px;
    height: 54px;
  }
  .cart-with-items-list{
    max-height: 606px;
  }
  .cart-product-size-span{
    overflow: visible;
  }
}