/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./filters.css');
@import url('./popular-products.css');
@import url('./discount-products.css');
@import url('./products-list.css');
@import url('./footer.css');

:root {
  /* fonts */
  --main-font: 'Neue Montreal', sans-serif;
  /* colors */
  --p_color: #6d8434;
  --c_color: #586f1f;
  --background: #e8e8e2;
  --current-white: #fafafa;
  --current-gray: #a3a3a3;
  --current-yellow: #fdc152;
  /* color-text */
  --p_color-text: #010101;
  --p_color-text-alfa30: rgba(1, 1, 1, 0.3);
  --p_color-text-alfa70: rgba(1, 1, 1, 0.7);
  --p_color-text-alfa80: rgba(1, 1, 1, 0.8);
  --c_color-text: #e8e8e2;
  --c_color-text-alfa30: rgba(232, 232, 226, 0.3);
  --c_color-text-alfa60: rgba(232, 232, 226, 0.6);
  --c_color-text-alfa70: rgba(232, 232, 226, 0.7);
  /* animation*/
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/**
  |============================
  | Контейнер
  |============================
*/
/* phone screen*/
.container {
  min-width: 320px;
  max-width: 375px;

  margin-left: auto;
  margin-right: auto;

  padding-left: 20px;
  padding-right: 20px;
}
/* tablet screen */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;

    padding-left: 32px;
    padding-right: 32px;
  }
}
/* pc(1440) screen */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1280px;

    padding-left: 100px;
    padding-right: 100px;
  }
}
/* :root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */

/**
  |============================
  | Шрифти
  |============================
*/
/* Light - світлий */
@font-face {
  font-family: 'Neue Montreal';
  src: url('./fonts/NeueMontreal-Light.otf') format('opentype');
  font-weight: 300;
}
/* Light Italic - світлий курсив */
@font-face {
  font-family: 'Neue Montreal';
  src: url('./fonts/NeueMontreal-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}
/* Regular - звичайний */
@font-face {
  font-family: 'Neue Montreal';
  src: url('./fonts/NeueMontreal-Regular.otf') format('opentype');
  font-weight: 400;
}
/* Italic - курсив */
@font-face {
  font-family: 'Neue Montreal';
  src: url('./fonts/NeueMontreal-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
/* Medium - середній */
@font-face {
  font-family: 'Neue Montreal';
  src: url('./fonts/NeueMontreal-Medium.otf') format('opentype');
  font-weight: 500;
}
/* Medium Italic - середній курсив */
@font-face {
  font-family: 'Neue Montreal';
  src: url('./fonts/NeueMontreal-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}
/* Bold - жирний */
@font-face {
  font-family: 'Neue Montreal';
  src: url('./fonts/NeueMontreal-Bold.otf') format('opentype');
  font-weight: 700;
}
/* Bold Italic - жирний курсив */
@font-face {
  font-family: 'Neue Montreal';
  src: url('./fonts/NeueMontreal-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

body {
  background-color: var(--background);
  font-family: var(--main-font);
  color: var(--p_color-text);
}
